body {
    background-color: #7E72C5;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.choice {
    width: fit-content;
    margin: auto;
    letter-spacing: 0.1em;
    font: normal 100% 'century gothic', Arial, sans-serif;
    height: 100vh;
    background-color: #9188C5;
    padding-top: 200px;
}

.choice h1{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.choice h1 a{
    text-decoration: none;
    color: #826C17;
}